@import url(https://fonts.bunny.net/css?family=amita:700);

body {
  background: url(https://www.colorbook.io/imagecreator.php?hex=282828&width=1920&height=1080&text=%201920x1080)
    center center/cover no-repeat;
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #fefae0;
  font-family: Amita;
  margin: 20px auto;
  width: 450px;
  font-size: 3rem;
  text-align: center;
  border-bottom: 10px double #fefae0;
}

img {
  width: 450px;
  height: 300px;
  margin: 10px;
  border: 10px solid #fefae0;
  -webkit-filter: sepia(100%);
  filter: sepia(100%);
  transition-duration: 1s;
}

img:hover {
  border: 5px solid #fff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-filter: none;
  filter: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
