@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background: #282828;
  background-image: url(https://sites-stories.com/static/media/bg_grain.156a9453.svg);
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 100;
}
.loading-page-title {
  font-family: "Antonio", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
}
.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.page-content {
  display: none;
}
.sidebar {
  border-right: 1px solid #707070;
  height: 100vh;
  position: fixed;
  z-index: 999;
  transition: all 0.3s cubic-bezier(0.3, 0, 0.2, 1);
  font-weight: 100;
}
.sidebar-wrapper label {
  font-size: 40px;
  cursor: pointer;
}
.sidebar-wrapper {
  width: 60px;
  height: 96%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 9;
  padding: 20px 5px;
  transition: all 0.6s cubic-bezier(0.6, 0, 0.2, 1);
}
.sidebar-title {
  font-size: 20px;
  font-family: "Lora", serif;
  font-weight: 500;
  color: #fff;
  writing-mode: vertical-rl;
  cursor: pointer;
  transform: rotate(180deg);
}

.sidebar-bottom a {
  text-decoration: none;
  color: red;
  font-size: 40px;
}

.circle {
  color: red;
  position: relative;
  display: inline-block;
}

.circle::after {
  color: white;
  font-size: 15px;
  content: "Index";
  position: absolute;
  left: 50%;
  top: -40%;
  transform: translate(-50%, -50%) rotate(-90deg);
  opacity: 0;
  transition: opacity 0.3s;
}

.circle:hover::after {
  opacity: 1;
}

.sidebar-items {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 61px);
  height: 100vh;
  position: fixed;
  z-index: 1000;
  background-color: #282828;
  top: 0;
  left: -100%;
  background-image: url(https://sites-stories.com/static/media/bg_grain_gray.8c21eae3.svg);
  visibility: hidden;
  transition: 0.5s;
}
.sidebar-items-show {
  visibility: visible;
  left: 71px;
}

.sidebar-cities {
  padding-left: 21%;
  padding-top: 70px;
  padding-bottom: 60px;
  font-family: "Lora", serif;
  font-size: 65px;
  height: 100%;
  align-items: center;
}

.sidebar-cities li {
  list-style: none;
  width: 100%;
}
.sidebar-cities li:hover {
  color: red;
}
/* .sidebar-cities li span::before {
  content: "⬤";
  font-family: Montserrat, sans-serif;
  font-size: 10px;
  color: red;
  margin-top: -5px;
  display: block;
  transition: all 0.3s cubic-bezier(0.3, 0, 0.2, 1) 0s;
} */
.sidebar-cities li span {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 1em;
  font-weight: 400;
  top: 50%;
  left: 30px;
}
.darker-sidebar {
  background-image: url(https://sites-stories.com/static/media/bg_grain_gray.8c21eae3.svg);
}

.sidebar-left {
  font-family: "Antonio", sans-serif;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 40%;
}

.sidebar-left li {
  list-style: none;
  font-size: 25px;
}
.sidebar-left li:hover {
  color: red;
}
.sidebar-left ul li a {
  text-decoration: none;
  color: white;
}
.sidebar-left ul li a:hover {
  color: red;
}
.language-selector {
  padding-top: 30px;
}
.remove-icon {
  display: none;
  font-weight: 500;
  font-size: 50px;
}

@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }
  .container3 {
    padding: 70px 20px;
  }
  .about-description {
    font-size: 38px;
  }
  .description-wrapper {
    width: auto;
  }
  .project-description {
    display: block;
  }
  .description-wrapper2 {
    margin-left: 0;
  }
  .description-wrapper2 {
    width: auto;
  }
}
